html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.bg-theme-light {
    background-color: antiquewhite;
    color : black;
}
.bg-theme-dark {
    background-color: #31363F;
    color: white;
}

body {
    /*margin-bottom: 60px;*/
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
}
.circle-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.panelChat{
    overflow-y : auto;
}

.emoji {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}

@media (max-width: 768px) {
    /*#emoji-picker {
        top: -200px;*/ /* Adjust position for smaller screens */
        /*left: 50px;*/ /* Adjust horizontal position */
        /*width: 90%;*/ /* Adjust width for mobile */
    /*}*/
    #emoji-btn {
        display: none;
    }
}

.emoji:hover {
    background-color: #f0f0f0;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.small-text {
    font-size: 12px;
}
/*.panelChat > ::-webkit-scrollbar {
    border-radius: .25rem !important;
}*/
.bg-chat-light {
    background-color: #FFFDF0;
    border: solid, 2px,#f9d777;
}
.bg-chat-dark {
    background-color: #787A91;
    border: solid, 2px,#B9B4C7;
}
@keyframes lights {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}

#lights {
    height: 69px;
    background: url(https://i.imgur.com/BdGY6tH.png);
    animation: lights 1s infinite steps(2,jump-none);
}

.snowflake {
    position: fixed;
    top: -10px;
    color: inherit !important;
    font-size: 10px;
    opacity: 0.7;
    animation: fall linear infinite;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
.emoji-picker {
    position: absolute;
    display: none;
    top: -520px;
    z-index: 999;
}
.colored-toast.swal2-icon-warning {
    background-color: #f87786 !important;
}
.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.swal2-icon.swal2-warning {
     border-color: black !important; 
     color: black !important; 
}

@media (max-width: 1399px) {
    .circle-image {
        max-width: 150px;
        height: 150px;
    }
}
@media (max-width: 768px) {
    .circle-image {
        max-width: 150px;
        height: 110px;
    }
}
@media (max-width: 576px) {
    .circle-image {
        max-width: 100px;
        height: 100px;
    }
}